<!DOCTYPE html>
<html>
  <head>
    <title>Sashweana Rajendran</title>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header id="main_navigation" class="clearfix">
    <%= link_to "Sashweana", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
      <%= link_to "Projects", projects_path %>
			<a href="contact.html">Contact</a>
		</nav>
	</header>

    <%= yield %>

    <footer id="main_footer">
    <p class="copyright">&copy; 2018 Sashweana Rajendran</p>
    <nav>
      <a href="https://twitter.com/DamnItsSash?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/sashweana-rajendran-02443994/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/Sashweana" target="_blank"><i class="fab fa-github"></i></a>
    </nav>
  </footer>

  </body>
</html>
